* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 2rem;
}

h2 {
  margin: 1rem 0rem;
}

.container {
  height: calc(100vh - 4rem);
  width: calc(100vw - 4rem);
}
