:root {
  --first-colour: ;
  --second-colour: ;
  --text-colour: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 2rem;
}

.container {
  height: calc(100vh - 4rem);
  width: calc(100vw - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.block {
  border: black dotted 0.1rem;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block > h3 {
  color: var(--text-colour);
}
